.btn-texto {
  background-color: #373b41;
  width: 250px;
  padding: 0px 30px 0px 40px;
  position: fixed;
  bottom: 8vh;
  right: 1.3em;
  border-radius: 21px;
  transition: 0.7s;
  z-index: 1;
  text-align: left;
  cursor: pointer;
  animation: crecer;
  animation-duration: 5s;

  animation-iteration-count: 5;
  transform-origin: right;
}

@keyframes crecer {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.btn-texto p {
  color: #fff;
  font-size: 16px;
}
.icono_principal {
  position: fixed;
  bottom: 7vh;
  right: 1em;
  z-index: 5;
  animation: pulse 2s infinite;
  border-radius: 50%;
  max-width: 5%;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.1);
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  100% {
    transform: scale(1);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
}
.img-iconos {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  position: fixed;
  bottom: 27vh;
  right: -60px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  visibility: hidden;
  z-index: 1;
}
.img-iconos.aparecer {
  position: fixed;
  bottom: 22vh;
  right: -60px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 998;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
  z-index: 1;
}
.icono_dos img {
  width: 45%;
  margin: 5px 0px;
}
@media (max-width: 768px) {
  .btn-texto {
    width: 230px;
    padding: 3px 30px 2px 30px;
    position: fixed;
    bottom: 6vh;
    right: 1em;
    border-radius: 21px;
    transition: 0.7s;
    z-index: 1;
    text-align: left;
    cursor: pointer;
    animation: crecer;
    animation-duration: 5s;

    animation-iteration-count: 5;
    transform-origin: right;
  }

  @keyframes crecer {
    0% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(1);
    }
  }

  .btn-texto p {
    color: #fff;
    font-size: 1em;
  }
  .icono_principal {
    position: fixed;
    bottom: 6vh;
    right: 0.5em;
    z-index: 5;
    animation: pulse 2s infinite;
    border-radius: 50%;
    max-width: 17%;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    70% {
      transform: scale(1.1);
      box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.4);
      border-radius: 50%;
    }
    100% {
      transform: scale(1);
      box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
      border-radius: 50%;
    }
  }
  .img-iconos {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    position: fixed;
    bottom: 18vh;
    right: -79px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    visibility: hidden;
    z-index: 1;
  }
  .img-iconos.aparecer {
    position: fixed;
    bottom: 18vh;
    right: -79px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 998;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    z-index: 1;
  }
  .icono_dos img {
    width: 38%;
  }
}
