.services {
  width: 100%;
  height: auto;
}
.services h2 {
  text-align: center;
  color: #373b41;
  font-size: 1.9em;
}
.model {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s, visibility 0.4s, transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}
.model.open i {
  color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.description {
  width: 85%;
  background-color: #373b41;
  border-radius: 10px;
  padding: 15px;
}
.description h6 {
  text-align: center;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.description p {
  text-align: justify;
  font-size: 0.8em;
  color: #fff;
  font-weight: 500;
}
.container-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.servicios-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-services {
  background-color: #373b41;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-services img {
  max-width: 60%;
  z-index: 99;
}
.services-footer {
  text-align: center;
}
.services-footer p {
  color: #373b41;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0px 5px;
}
@media (min-width: 420px) {
  .item-services {
    background-color: #373b41;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 600px) {
  .item-services {
    background-color: #373b41;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services-footer p {
    color: #373b41;
    font-size: 1.2em;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .model {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.4s, visibility 0.4s, transform 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
  }
  .model.open i {
    color: #fff;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 30px;
  }
  .model.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  .description {
    width: 50%;
    background-color: #373b41;
    border-radius: 10px;
    padding: 15px;
  }
  .description h6 {
    text-align: center;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
  }
  .description p {
    text-align: justify;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
  }
  .services h2 {
    text-align: center;
    color: #373b41;
    font-size: 2.5em;
  }
  .container-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .item-services {
    background-color: #373b41;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
  }
  .item-services:hover {
    transform: scale(1.1);
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.5);
    transition: 0.7s;
  }
  .services-footer p {
    color: #373b41;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0px 5px;
  }
}
