.container_hero {
  width: 100%;
  position: relative;
}
.container_slider {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.right_button,
.left_button {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  width: 40px;
  height: 40px;
}
.right_button i:hover,
.left_button i:hover {
  color: #2155cd;
  transform: scale(1.1);
  transition: 0.3s;
}
.right_button i,
.left_button i {
  transition: 0.3s;
}
.left_button {
  transition: 0.3s;
  position: absolute;
  top: 50%;
  left: 4%;
}
.right_button {
  transition: 0.3s;
  position: absolute;
  top: 50%;
  right: 4%;
}
.img_slider {
  max-width: 100%;
}

.hero-card {
  position: absolute;
  left: 30%;
  bottom: 40%;
  text-align: center;
  line-height: 25px;
}
.hero-card h1 {
  color: #fff;
  font-size: 2.7em;
  text-transform: uppercase;
}
.hero-card p {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
}
.container-btn {
  position: relative;
  width: 150px;
  margin: auto;
}
.btn-hero {
  display: block;
  width: 100%;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  padding: 17px;
  border-radius: 7px;
  font-size: 1.5em;
  font-weight: 600;
  border: 1px solid #fff;
  color: white;
}
.btn-hero::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 1s ease;
  border-radius: 7px;
}

.btn-hero:hover::before {
  width: 123%;
}

@media (max-width: 767px) {
  .right_button,
  .left_button {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    width: 25px;
    height: 25px;
  }
  .left_button {
    transition: 0.3s;
    position: absolute;
    top: 55%;
    left: 4%;
  }
  .right_button {
    transition: 0.3s;
    position: absolute;
    top: 55%;
    right: 4%;
  }
  .hero-card {
    position: absolute;
    left: 15%;
    bottom: 10%;
    text-align: center;
    line-height: 25px;
  }
  .hero-card h1 {
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  .hero-card p {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
  }
  .container-btn {
    position: relative;
    width: 100px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-hero {
    display: block;
    width: 100%;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 7px;
    font-size: 1em;
    font-weight: 600;
    border: 1px solid #fff;
    color: white;
    margin: auto;
  }
  .btn-hero::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 1s ease;
    border-radius: 7px;
  }

  .btn-hero:hover::before {
    width: 123%;
  }
}
@media (max-width: 355px) {
  .hero-card {
    position: absolute;
    left: 9%;
    bottom: 5%;
    text-align: center;
    line-height: 25px;
  }
  .left_button {
    transition: 0.3s;
    position: absolute;
    top: 85%;
    left: 4%;
  }
  .right_button {
    transition: 0.3s;
    position: absolute;
    top: 85%;
    right: 4%;
  }
}
